<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Streamline Diagnosis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../public/App.css"/>
    <link rel="icon" href="../public/favicon.png"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand nav-head" href="/">
               <img src="../public/favicon.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
                Streamline Diagnosis
            </a>
			<ul class="nav justify-content-end" id="nav-menu">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/diagnosis">Diagnosis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blogs">Blogs</a>
                </li>
            </ul>
            <button class="navbar-toggler" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="navbar_toggle();">
				<span class="navbar-toggler-icon"></span>
			</button>
        </nav>
	</header>
    <section id="diabetes" class="workspace">
        <div class="related-diagnosis">
            <ul>
                <li onclick="invaild();">Himoglobine Test</li>
                <li onclick="invaild();">Urine Test</li>
                <li onclick="invaild();">Vision Test</li>
                <li onclick="invaild();">Breast Canser Test</li>
                <li onclick="invaild();">ECGI Test</li>
                <li onclick="invaild();">Heart Disease</li>
            </ul>
        </div>
        <div class="home-body flo">
            <div class="home-body-left">
                <!-- <form action="/diabetes/predict" method="get"> -->
                <form onsubmit="validateForm(event);">
                    <div class="form-head">Diabetes Diagnosis</div>
                    <div class="form-body">
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="diabetes-name">Name</label>
                                <input type="name" class="form-control" id="diabetes-name" placeholder="Enter Pasent Name" name="name" required="true" onkeyup="checkName('diabetes-name');"/>
                                <small class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem assumenda pariatur hic..</small>
                            </div>
                            <div class="col form-group">
                                <label for="diabetes-age">Age (DOB)</label>
                                <input type="date" class="form-control" id="diabetes-age" placeholder="Enter Pasent DOB" name="age" required="true" onchange="checkAge('diabetes-age',100,4);"/>
                                <small class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem assumenda pariatur hic..</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="diabetes-bp">Blood Pressure</label>
                                <input type="number" class="form-control" id="diabetes-bp" placeholder="Enter Blood Pressure" name="bp" required="true" onkeyup="checkRange('diabetes-bp',180,70);"/>
                                <small class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem assumenda pariatur hic..</small>
                            </div>
                            <div class="col form-group">
                                <label for="diabetes-glu">Glucose Level</label>
                                <input type="number" class="form-control" id="diabetes-glu" placeholder="Enter Glucose Level" name="glu" required="true" onkeyup="checkRange('diabetes-glu',180,80);"/>
                                <small class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem assumenda pariatur hic..</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="diabetes-fru">Frequent Urination</label>
                                <select class="form-control" id="diabetes-fru" name="fru" required="true" onchange="checkOptions('diabetes-fru');">
                                    <option selected="true">NO</option>
                                    <option>YES</option>
                                </select>
                                <small class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem assumenda pariatur hic..</small>
                            </div>
                            <div class="col form-group">
                                <label for="diabetes-blv">Blurred Vision</label>
                                <select class="form-control" id="diabetes-blv" name="blv" required="true" onchange="checkOptions('diabetes-blv');">
                                    <option selected="true">NO</option>
                                    <option>YES</option>
                                </select>
                                <small class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem assumenda pariatur hic..</small>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                <label for="diabetes-sh">Slow Healing</label>
                                <select class="form-control" id="diabetes-slh" name="slh" required="true" onchange="checkOptions('diabetes-slh');">
                                    <option selected="true">NO</option>
                                    <option>YES</option>
                                </select>
                                <small class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem assumenda pariatur hic..</small>
                            </div>
                            <div class="col form-group">
                                <label for="diabetes-wl">Weight Loss</label>
                                <select class="form-control" id="diabetes-wl" name="wl" required="true" onchange="checkOptions('diabetes-wl');">
                                    <option selected="true">NO</option>
                                    <option>YES</option>
                                </select>
                                <small class="form-text text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem assumenda pariatur hic..</small>
                            </div>
                        </div>
                    </div>
                    <div class="button-group condition-btn">
                        <button class="btn btn-danger" type="clear" onclick="route('./');">Abort</button>
                        <button class="btn btn-info" type="submit">Process</button>
                    </div>
                </form>
            </div>
            <div class="home-body-right">
                <div class="image">
                    <img src="../images/diabetes.png" style="margin-top: 40px;" alt="load"/>
                </div>
            </div>
        </div>
    </section>
    <section class="workspace blbg" id="side-menu" onclick="navbar_toggle();"></section>
    <% if (typeof result !== 'undefined'){ %>
        <section class="workspace modal fade" role="dialog" aria-hidden="true">
            <div class="modal-content">
                <div class="modal-header"><div class="time">14/07/2024 15:30</div></div>
                <div id="batch" style="background-image: url('../images/doc1.png');"></div>
                <div class="modal-info">
                    <h4 id="level">Diagnosis Report</h4>
                    <div class="flo">
                        <p>
                            <span>Diagnosis Name: </span><br>
                            <span>Diagnosis Type: </span><br>
                            <span>Pasent Name: </span><br>
                            <span>Pasent Age: </span><br>
                            <span>Pasent Gender: </span><br>
                        </p>
                        <p>
                            Diabetes<br>
                            Predict<br>
                            <%= name %><br>
                            <%= age %><br>
                            Male<br>
                        </p>
                    </div>
                </div>
                <hr class="divider">
                <div class="modal-body">
                    <div class="flo">
                        <p>
                            <span>Blood Pressure: </span><br>
                            <span>Glucose Level: </span><br>
                            <span>Frequent Urination: </span><br>
                            <span>Blurred Vision: </span><br>
                            <span>Slow Healing: </span><br>
                            <span>Weight Loss: </span><br>
                        </p>
                        <p>
                            <%= bp %> mmHg<br>
                            <%= glu %> mg/dL<br>
                            <%= fru==0?'No':'Yes' %><br>
                            <%= blv==0?'No':'Yes' %><br>
                            <%= slh==0?'No':'Yes' %><br>
                            <%= wl==0?'No':'Yes' %><br>
                        </p>
                    </div>
                    <hr class="divider">
                    <div class="flo">
                        <p class="wd-lg">
                            <span>Result: </span><%= result.value==0?'Negative (No Diabetes Detected)':'Positive (Diabetes Detected)' %><br>
                        </p>
                    </div>
                    <small class="text-muted form-text">This Report data is machine generated, please always consult with your doctor before take any step.</small>
                    <hr class="divider">
                    <div class="flo">
                        <img src="../images/diabetes.png" alt="loading.."/>
                        <img src="../images/shape1.png" alt="loading.."/>
                        <img src="../images/diabetes.png" alt="loading.."/>
                        <img src="../images/shape1.png" alt="loading.."/>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" type="clear" onclick="route('./');">Back</button>
                </div>
            </div>
        </section>
    <% } %>
</body>
<script src="../public/App.js"></script>
<script>
document.querySelector(".time").textContent = `${(new Date().getDate())<10?'0'+(new Date().getDate()):(new Date().getDate())}/${(new Date().getMonth()+1)<10?'0'+(new Date().getMonth()+1):(new Date().getMonth()+1)}/${(new Date().getFullYear())<10?'0'+(new Date().getFullYear()):(new Date().getFullYear())} ${(new Date().getHours())<10?'0'+(new Date().getHours()):(new Date().getHours())}:${(new Date().getMinutes())<10?'0'+(new Date().getMinutes()):(new Date().getMinutes())}`;
function validateForm(event){
    event.preventDefault();
    var name = document.getElementById('diabetes-name').value;
    var age = document.getElementById('diabetes-age').value;
    var bp = document.getElementById('diabetes-bp').value;
    var glu = document.getElementById('diabetes-glu').value;
    var fru = document.getElementById('diabetes-fru').value=='NO'?0:1;
    var blv = document.getElementById('diabetes-blv').value=='NO'?0:1;
    var sh = document.getElementById('diabetes-slh').value=='NO'?0:1;
    var wl = document.getElementById('diabetes-wl').value=='NO'?0:1;
    if((name, age, bp, glu) != ''){
        if(
            system.validUserName(name) && 
            system.validLimit([4,100],system.dobToage(age)) && 
            system.validLimit([70,180],bp) && 
            system.validLimit([80,180],glu) && 
            system.validOptions([0,1],fru) && 
            system.validOptions([0,1],blv) && 
            system.validOptions([0,1],sh) && 
            system.validOptions([0,1],wl) 
        ){
            window.location.href = `/diabetes/predict?name=${name.replace(' ','+')}&age=${age}&bp=${bp}&glu=${glu}&fru=${fru}&blv=${blv}&slh=${sh}&wl=${wl}`;
            return true;
        }else{
            alert("Please fill with correct values!");
        }
    }else{
        alert("Please fill out the required fileds!");
    }
    return false;
}
function checkName(id){
    if(document.getElementById(id).value == ''){
        document.getElementById(id).style.borderColor = "#ced4da";
    }else{
        if(system.validUserName(document.getElementById(id).value)){
            document.getElementById(id).style.borderColor = "Green";
        }else{
            document.getElementById(id).style.borderColor = "Red";
        }
    }
}
function checkRange(id,max,min){
    if(document.getElementById(id).value == ''){
        document.getElementById(id).style.borderColor = "#ced4da";
    }else{
        if(system.validLimit([min,max],document.getElementById(id).value)){
            document.getElementById(id).style.borderColor = "Green";
        }else{
            document.getElementById(id).style.borderColor = "Red";
        }
    }
}
function checkOptions(id){
    if(document.getElementById(id).value == ''){
        document.getElementById(id).style.borderColor = "#ced4da";
    }else{
        let options = [];
        let a = document.getElementById(id);
        for(let i=0; i<a.childNodes.length; i++){
            if(a.childNodes[i].value != undefined){
                options.push(a.childNodes[i].value);
            }
        }
        if(system.validOptions(options,document.getElementById(id).value)){
            document.getElementById(id).style.borderColor = "Green";
        }else{
            document.getElementById(id).style.borderColor = "Red";
        }
    }
}
function checkAge(id,max,min){
    if(document.getElementById(id).value == ''){
        document.getElementById(id).style.borderColor = "#ced4da";
    }else{
        if(system.validLimit([min,max],system.dobToage(document.getElementById(id).value))){
            document.getElementById(id).style.borderColor = "Green";
        }else{
            document.getElementById(id).style.borderColor = "Red";
        }
    }
}
</script>
</html>